<section class="skills section">
    <h2 class="section__title">Habilidades</h2>
    <span class="section__subtitle">Mi nivel en tecnologias</span>
    <div class="skills__container containerPersonal grid">



        <!-- primera habilidad -->
        <div>
            <div class="text-center m-4">
                <h3><i class="fas fa-code"></i> Desarrollo frontend</h3>
            </div>

            <div class="skills__list grid">
                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">HTML</h3>
                        <span class="skills__number">90%</span>
                    </div>
                    <div class="skills__bar">
                        <span class="skills__percentage skills__html">

                        </span>
                    </div>
                </div>
                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">CSS</h3>
                        <span class="skills__number">80%</span>
                    </div>
                    <div class="skills__bar">
                        <span class="skills__percentage skills__css">

                        </span>
                    </div>
                </div>
                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">Javascript</h3>
                        <span class="skills__number">90%</span>
                    </div>
                    <div class="skills__bar">
                        <span class="skills__percentage skills__js">

                        </span>
                    </div>
                </div>
                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">Angular</h3>
                        <span class="skills__number">95%</span>
                    </div>
                    <div class="skills__bar">
                        <span class="skills__percentage skills__angular">

                        </span>
                    </div>
                </div>
            </div>

        </div>

        <!-- segunda habilidad -->
        <div>

            <div class="text-center m-4">
                <h3><i class="fas fa-server"></i> Desarrollo backend</h3>
            </div>

            <div class="skills__list grid">
                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">PHP</h3>
                        <span class="skills__number">90%</span>
                    </div>
                    <div class="skills__bar">
                        <span class="skills__percentage skills__php">

                        </span>
                    </div>
                </div>
                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">NodeJs</h3>
                        <span class="skills__number">80%</span>
                    </div>
                    <div class="skills__bar">
                        <span class="skills__percentage skills__nodejs">

                        </span>
                    </div>
                </div>
                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">Firebase</h3>
                        <span class="skills__number">90%</span>
                    </div>
                    <div class="skills__bar">
                        <span class="skills__percentage skills__firebase">

                        </span>
                    </div>
                </div>
                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">python</h3>
                        <span class="skills__number">95%</span>
                    </div>
                    <div class="skills__bar">
                        <span class="skills__percentage skills__python">

                        </span>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>